<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GIF-Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52EF46801C76AE97007F2C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52EF46991C76AE97007F2C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52EF46A41C76AE97007F2C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
